# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TESODEV ORDER APPLICATION.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Rana\RiderProjects\TESODEV ORDER APPLICATION\.idea\.idea.TESODEV ORDER APPLICATION\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
